<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Start a new Journey</h1>
	<%= simple_form_for @journey do |f| %>
		<%= f.input :name %>
		<%= f.input :start_addr, label: 'Starting Address' %>
		<%= f.input :dest_addr, label: 'Destination Address' %>
		<%= f.input :start_date %>
		<br />
		<%= f.submit 'Create', :class => 'btn btn-primary' %>
	<% end %>
</div>
