<div class="booyah-box col-xs-10 col-xs-offset-1">
	
  <div class="col-xs-12 col-md-5">
    <h1><%= @journey.name %></h1>
  	From: <%= @journey.start_addr %><br />
    To: <%= @journey.dest_addr %><br />
  	Miles walked: <br />
  	Miles to go: <br />
  	Started: <%= @journey.start_date %><br />
    Projected finish date: <br /><br />
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

  <script>
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var map;
    var myStartAddr = '<%= @journey.start_addr %>';
    var myDestAddr = '<%= @journey.dest_addr %>';
    // Add myCurrentAddr once we can calculate a current position in Journeys 

    function initialize() {
      directionsDisplay = new google.maps.DirectionsRenderer();
      var startMap = new google.maps.LatLng(41.8337329,-87.7321555);
      var mapOptions = {
        zoom: 7,
        center: startMap
      };
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      directionsDisplay.setMap(map);
    }

    function calcRoute() {
      var request = {
        origin: myStartAddr,
        destination: myDestAddr,
        /* Commented out waypoints until we have calculation of current_addr working
        waypoints: [
          {
            location: myCurrentAddr,
            stopover: true
          }],
        */
        optimizeWaypoints: true,
        travelMode: google.maps.TravelMode.WALKING,
        unitSystem: google.maps.UnitSystem.IMPERIAL
      };
      
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);
        }
      });
    }

    //google.maps.event.addDomListener(window, 'load', initialize);
    $(function() {
      initialize();
      calcRoute();
    });

  </script>

  <div class="col-xs-12 col-md-7" id="map-canvas"></div>
  <br /><br />

	<div class="pull-right">
		<%= link_to 'Edit', edit_journey_path(@journey), :class => 'btn btn-primary' %>
		<%= link_to 'Destroy', journey_path(@journey), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this journey?'}, :class => 'btn btn-danger' %>
	</div>
</div>

